
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left:0;
    width: 100%; 

}
 li{
    float: left;
    border-right: 1px solid #bbb;
 }
 li:last-child{
  border-right: none;
 }

 li a{
    display:block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
 }
 body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
 }
 
 .chat-container {
   position: fixed;
   bottom: 20px;
   right: 20px;
   width: 300px;
   border: 1px solid #ccc;
   border-radius: 5px;
   overflow: hidden;
 }
 .msg-container{
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #f1f1f1;
  color: #030b0e;
}
 .chat-area {
   height: 200px;
   padding: 10px;
   overflow-y: auto;
   padding: 15px;
   display:flex;
   flex-direction: column;
   background-color: #f9f9f9;
   gap:10px;
 }

 /*
 input[type="text"] {
   width: calc(100% - 70px);
   padding: 10px;
   border: none;
   border-top: 1px solid #333;
   border-bottom: 1px solid #333;
   box-sizing: border-box;
 }*/
 
 button {
   width: 70px;
   padding: 10px;
   background-color: #507eb2;
   color: white;
   border: none;
   cursor: pointer;
 }
 